@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --light-color: #D8DDD3;
    --dark-color: #1D3135;
    --light-grey: #f9f9f9;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
    position: relative;
    color: var(--dark-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    cursor: url('/img/circle-cursor.svg') 8 8, auto;
}

svg.logo-large {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 120px;
    opacity: 1;
    width: 92vw;
}

img.logo-small {
    height: 1.8rem;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-color);
    z-index: 1;
}

.hero {
    width: 100%;
    height: 100vh;
    background-color: var(--light-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-language {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    padding: 1vw;
}

.hero-language__switch {
    font-size: 1.4rem;
    color: var(--dark-color);
    padding-left: .4rem;
}

.hero-language__switch a {
    text-decoration: none;
    color: var(--dark-color);
    opacity: .4;
    transition: all .25s ease-out;
}

.hero-language__switch a:hover {
    cursor: url('/img/circle-cursor-hover.svg') 12 12, auto;
    opacity: 1;
    text-decoration: underline;
}

.hero-language__switch.active a {
    opacity: 1;
}

.hero-copy {
    max-width: 120rem;
    padding: 4vw;
}

.hero-copy h1 {
    font-size: 3.6rem;
    line-height: 1.35;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: var(--dark-color);
}

.clients {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    padding: 4vw;
}

.clients__copy {
    width: 25vw;
    margin-right: 4vw;
    opacity: 0;
    transform: translateY(50px);
}

.clients__copy h2 {
    font-size: 4.8rem;
    line-height: 1.1;
    margin-bottom: 2.4rem;
}

.clients__copy p {
    font-size: 14px;
    opacity: .8;
}

.clients__grid {
    width: 75vw;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 180px);
    grid-gap: .8rem;
}

.clients__grid__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grey);
    overflow: hidden;
}

.clients__grid__cell img {
    max-height: 8rem;
    width: auto;
    transform: scale(1) translateY(200px);
    filter: grayscale(1);
}

footer.footer {
    margin: 4vw;
    margin-bottom: 2.4vw;
    padding-top: 4vw;
    border-top: solid 1px var(--dark-color);
}

footer.footer div.footer__content {
    display: flex;
    flex-direction: row;
    width: 92vw;
}

footer.footer h3.footer__title {
    font-size: 1.6rem;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
}

footer.footer p.footer__text {
    font-size: 2.4rem;
    line-height: 1.6;
}

footer.footer div.footer__column {
    flex-basis: 33.333%;
    transform: translateY(50px);
    opacity: 0;
}

footer.footer div.footer__column a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid transparent;
    transition: none;
}

footer.footer div.footer__column a:hover {
    cursor: url('/img/circle-cursor-hover.svg') 12 12, auto;
    border-bottom: 1px solid var(--dark-color);
    transition: all .2s ease-out;
}

footer.footer div.footer__imprint {
    margin-top: 4.8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    opacity: 1;
    transform: translateY(50px);
}

footer.footer div.footer__imprint p {
    font-size: 1.2rem;
    text-transform: uppercase;
}

footer.footer div.footer__imprint a {
    text-decoration: none;
    color: var(--dark-color);
    border-bottom: 1px solid transparent;
}

footer.footer div.footer__imprint a:hover {
    border-bottom: 1px solid var(--dark-color);
}

div.imprint-copy {
    padding: 4vw;
    opacity: 0;
    transform: translateY(200px);
}

div.imprint-copy p {
    max-width: 80rem;
    font-size: 1.4rem;
}

div.imprint-copy a {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--dark-color);
    display: inline-block;
    margin-bottom: 2.4rem;
    border-bottom: 1px solid transparent;
    transition: border-bottom .2s ease-out;
}

div.imprint-copy a:hover {
    border-bottom: 1px solid var(--dark-color);
}

/* BREAKPOINTS */

@media screen and (max-width: 192rem) {

    svg.logo-large {
        padding: 0;
        width: 66.667vw;
    }

    .hero-copy {
        max-width: 66.667vw;
        padding: 0;
    }
    
    .hero-copy h1 {
        font-size: 4rem;
        line-height: 1.375;
    }

}

@media screen and (max-width: 144rem) {

    svg.logo-large {
        padding: 4vw;
        width: 92vw;
    }

    .hero-copy {
        max-width: 80vw;
        padding: 4vw;
    }
    
    .hero-copy h1 {
        font-size: 3.6rem;
        line-height: 1.4;
    }

    .clients__grid {
        width: 75vw;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 120px);
        grid-gap: .8rem;
    }

    .clients__grid__cell img {
        max-height: 6.4rem;
    }

    .clients__copy h2 {
        font-size: 4rem;
        line-height: 1.2;
    }

    footer.footer p.footer__text {
        font-size: 2.1rem;
    }

    img.logo-small {
        height: 1.4rem;
    }

}

@media screen and (max-width: 102.4rem) {

    .hero-copy {
        max-width: 92vw;
        padding: 4vw;
    }
    
    .hero-copy h1 {
        font-size: 2.7rem;
        line-height: 1.45;
    }

    .clients__copy {
        width: 33.333vw;
        margin-right: 4vw;
        opacity: 0;
        transform: translateY(50px);
    }
    
    .clients__copy h2 {
        font-size: 3.2rem;
        line-height: 1.25;
        margin-bottom: 1.6rem;
    }
    
    .clients__copy p {
        font-size: 1.4rem;
        opacity: .8;
    }
    
    .clients__grid {
        width: 66.666vw;
    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 90px);
        grid-gap: .8rem;
    }
    
    .clients__grid__cell {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--light-grey);
        overflow: hidden;
    }
    
    .clients__grid__cell img {
        max-height: 6.4rem;
        width: auto;
        transform: scale(1) translateY(200px);
        filter: grayscale(1);
    }

}

@media only screen and (max-width: 48rem) and (-webkit-device-pixel-ratio: 2) {

    .color-overlay {
        height: 100vh;
    }
    
    .hero {
        height: 75vh;
    }

    svg.logo-large {
        width: 92vw;
        padding: 4vw;
    }

    .hero-copy h1 {
        font-size: 1.8rem;
        line-height: 1.45;
        max-width: 96vw;
    }

    .clients {
        flex-direction: column;
        align-items: flex-start;
    }

    .clients__copy {
        width: 92vw;
        margin: 4vw 0;
    }
    
    .clients__copy h2 {
        font-size: 2.1rem;
        line-height: 1.25;
        margin-bottom: .8rem;
    }

    .clients__grid {
        width: 92vw;
    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 120px);
        grid-gap: .8rem;
    }

    footer.footer div.footer__content {
        flex-direction: column;
    }

    footer.footer h3.footer__title {
        font-size: 1rem;
        margin-bottom: 0;
    }
    
    footer.footer p.footer__text {
        font-size: 1.4rem;
    }

    footer.footer div.footer__column {
        flex-basis: 100%;
        margin-bottom: 1.6rem;
    }

    footer.footer div.footer__imprint {
        margin-top: .8rem;
        align-items: flex-start;
        flex-direction: column;
    }

    footer.footer div.footer__imprint img.logo-small {
        margin-bottom: .8rem;
    }
}